<h1>Create a new deliverable for <%= @project.name %></h1>
<%= form_tag deliverables_path(@project), :style => 'width:80% ; margin:auto' do %>
  <%= label :deliverable, :name, 'Name', :class => 'col-form-label' %>
  <%= text_field :deliverable, 'name', :class => 'form-control' %>
  <%= label :deliverable, :description, 'Description', :class => 'col-form-label' %>
  <%= text_field :deliverable, 'description', :class => 'form-control' %>
  <div class="py-3">
    <h3> Status </h3>
    <%= select_tag "Status", options_for_select([ "Ongoing", "Complete" ], "Ongoing") %>
  </div>
  <h3> Assign members to deliverable </h3>
  <% @members.each do |member| %>
    <div class="checkbox">
      <%= check_box_tag(member.id) %>
      <%= label_tag(member.id, member.username) %>
    </div>
  <% end %>
  <br/>
  <%= submit_tag 'Create Deliverable', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', project_path(session[:project_id]), :class => 'btn btn-secondary' %>
<% end %>
<%= link_to 'Show', @deliverable %> |
<%= link_to 'Back', deliverables_path %>
