<div style="padding:30px">
  <h1><%=@deliverable.name %></h1><br/>

  <%if @deliverable.status == "Complete" %>
    <h3 style="color:yellowgreen">Status: <%=@deliverable.status %></h3>
  <%else%>
    <h3 style="color:orange">Status: Ongoing</h3>
  <%end%>

  <br />

  <%if !@deliverable.description.empty? %>
    <h5>Description: <%=@deliverable.description %></h5>
  <%else%>
    <h5>No Description Available</h5>
  <%end%>

  <br />

  <table class="table table-hover" style="width:40% ; margin:left">
    <thead>
      <tr>
        <th>Name</th>
        <th>Remove Member</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.username %></td>
          <td><%= link_to 'Remove', remove_user_path(:id => @deliverable.id, :user_id => person.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_deliverable_path(@deliverable) %> |
  <%= link_to 'Back', project_path(@project) %>
</div>
