<h1>Create a new message</h1>
<div class=fluid-container>
  <div class="col-md-4">
  <%= puts request.original_url%>
    <%= form_tag inbox_path, :class => 'form' do %>

      <%= hidden_field :message, :parent_id %>

      <%= hidden_field :message, :user_id, :value => current_user.id, :class => 'form-control'%>

      <%= label :message, :recipient_id, 'recipient id', :class => 'col-form-label' %>
      <%= number_field :message, :recipient_id, :class => 'form-control', :min => 1%> 

      <%= hidden_field :message, :group_id, :class => 'form-control'%>

      <%= label :message, :subject, 'Subject', :class => 'col-form-label' %>
      <%= text_field :message, :subject, :class => 'form-control' %>

      <%= label :message, :body, 'Body', :class => 'col-form-label' %>
      <%= text_area :message, :body, :class => 'form-control' %>  

      <%= hidden_field :message, :read, :value => false, :class => 'form-control' %>

      <%= hidden_field :message, :show_user, :value => true, :class => 'form-control' %>
      <%= hidden_field :message, :show_recipient, :value => true, :class => 'form-control' %>

      <br/>
      <%= submit_tag 'Create', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', inbox_path, :class => 'btn btn-secondary' %>
    <% end %>
 </div>
