<h3>Search Results</h3> 
<%= form_tag(search_group_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search Groups", class: "form-control" %>  
    <div class="input-group-btn">  
    <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
<table> 
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
    <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.name %></td>
        <td> | </td>
        <td><%= link_to 'Join Group ', join_group_path(result)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Group', new_group_path %> | 
<%= link_to 'Profile', profile_path(session[:profile_id]) %>