<div class="container-fluid">
  <div class="row" style="justify-content:left">
    <div class = "col-md-6">
      <h1>Welcome to <%= @group.name %> </h1>
      <h1>Description: <%= @group.description %> </h1>
      <h3>Group Code: <%= @group.code %> </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">

         <table class="table table-hover" style="width:100% ; margin:auto" ; padding: 10px>
        <thead>
          <tr>
            <th><%= link_to "Project", group_path(params[:id], :name => 'name')%></th>
            <th><%= link_to "Status", group_path(params[:id], :status => 'status')%></th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <tr>
            <td><%= link_to project.name, project_path(project) %></td>
            <td><%= project.status %></td>
            <td><%= button_to "delete", project_path(project), :method => :delete, :data => { confirm: 'Are you certain you want to delete this?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
    </div>
    <div class="col-md-6">  
      <table class="table table-hover" style="width:100% ; margin:auto" ; padding: 10px>
        <thead>
          <tr>
            <th>Message Board</th> 
          </tr>
        </thead>

        <tbody>
          <% @messages.each do |message| %>
            <tr>
            <td><%= message.body %><br>
            <% if message.user_id == current_user.id%>
            <%= link_to "Reply", new_message_path(:parent_id => message) %> |
            <%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %></td>
            <% if User.find(message.user_id).avatar_url%>
                <td><%= image_tag(User.find(message.user_id).avatar_url, :size => "30x30", :class=>"rounded-circle") %>
              <% else %>
                <td><%= image_tag('default-avatar.png', :size => "30x30", :class=>"rounded-circle") %>
              <% end %>
            <%= User.find(message.user_id).username %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render 'thread', message: @message %>
    </div>

    <div class="col-md-3" style="margin-top:-15vh;">
      <br  /><h4> Recent Activity </h4> 
      <% if !@activities.empty?%>
        <% @activities.each do |activity| %>
            <div class="activity">
                <%= link_to activity.owner.username, activity.owner if activity.owner %>
                <%= render_activity activity %>
            </div> <br>
        <% end %>
      <% else %>
        <div class="activity" style="width:100% ; margin:left ; border:1px solid black">
          No changes as yet <br>
        </div>
      <% end %>
      <%= link_to "see all changes", activity_path(params[:id]) %>
      <table class="table table-hover" style="width:100% ; margin:auto">
        <thead>
          <tr>
            <th></th>
            <th>Group Members</th>
            <%if @User.member_type == "leader"%>
            <th>Remove</th>
            <th>Make a group Leader</th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
               <%if member.user_id != @User.user_id%>
                <% if User.find(member.user_id).avatar_url%>
                  <td><%= image_tag(User.find(member.user_id).avatar_url, :size => "30x30", :class=>"rounded-circle") %></td>
                <% else %>
                  <td><%= image_tag('default-avatar.png', :size => "30x30", :class=>"rounded-circle") %></td>
                <% end %>
                <td><%= member.username%></td>
                <%if @User.member_type == "leader"%>
                  <td><%= link_to "Remove from Group", leave_group_path(:user_id => member.user_id) %></td>
                  <td><%= link_to "Upgrade to Leader", make_leader_path(:user_id => member.user_id) %></td>
                <%end%>
              <%end%>
            </tr>
          <% end %>
        </tbody>
    </table>      
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class= "col-md-4" style="float:right">
    | <%= link_to 'Edit', edit_group_path(@group)%> |
    <%= link_to 'Back', user_path(session[:user_id]) %> |
    <%= link_to "Leave Group", leave_group_path(:user_id => session[:user_id]) %> |
    <%= link_to 'New Project', new_project_path%> |
    <%if @User.member_type == "leader"%>
    <%= button_to "Delete Group", group_path(@group), :method => :delete, :id => @group.id, data: { confirm: 'Are you certain you want to delete this?' } %> 
    <%end%>
  </div>
</div>