  <%= form_for @user do |f| %>
    <fieldset>
      <legend>Avatar</legend>
      <p>
        <div class="">
          <%= image_tag(@user.avatar_url, :size => "300x300", :class=>"rounded-circle border") if @user.avatar? %>
        </div>
        <% unless @user.new_record? %>
          <%= f.check_box :remove_avatar %>
          <%= f.label :remove_avatar, "remove avatar" %>
        <% end %>
      </p>
      <p class="text-center">
        <%= f.label :avatar, "Upload local file:" %><br />
        <%= f.file_field :avatar, class: "text-cente m-auto", style: "width:35%;" %>
        <%= f.hidden_field :avatar_cache %>
      </p>
    </fieldset>
    <p class="mb-3">
      <%= f.label :username %><br>
      <%= f.text_field :username, value: @user.username %>
    </p>
    <p class="mb-3">
      <%= f.label :bio %><br>
      <%= f.text_area :bio, value: @user.bio %>
    </p>
    <p class="mb-3">
      <%= f.submit %>
    </p>
  <% end %>
