<div class="text-center w-50 m-auto p-5">
  <h1 class="text-center"><%=@user.username%>'s Profile</h1>
  <div class="mb-3">Contact: <%=@user.email%></div>
  <div class="mb-3">Bio: <%=@bio%></div>
  <% if @is_current_user %>
    <%= link_to 'Edit Profile', edit_user_path %> | <%= link_to 'Sign out', destroy_user_session_path %>
  <% end %>
</div>
