<h2>Edit Existing Project</h2>
<%= form_tag project_path(@project), :method => :put do %>
  <%= label :project, :name, 'Project Name', :class => 'col-form-label' %>
  <%= text_field :project, 'name', :class => 'form-control' %>
  <%= label :project, :description, 'Description', :class => 'col-form-label' %>
  <%= text_field :project, 'description', :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Update Project', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', @project, :class => 'btn btn-secondary' %>
<% end %>

