<p id="notice"><%= notice %></p>
<h1>Project: <%= @project.name %> </h1>
<h1>Description: <%= @project.description %> </h1>
<table class="table table-hover" style="width:80% ; margin:auto">
  <thead>
    <tr>
      <th>Deliverable</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @deliverables.each do |deliverable| %>
      <tr>
        <td><%= deliverable.name %></td>
        <td><%= deliverable.status %></td>
        <td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
