<p id="notice"><%= notice %></p>
<h1>Project: <%= @project.name %> </h1>
<h1>Description: <%= @project.description %> </h1>
<a href=/projects/<%= @project.id%>?sort=status><button type="button" class="btn btn-warning">Sort by status</button></a>
<table class="table table-hover" style="width:80% ; margin:auto">
  <thead>
    <tr>
      <th>Deliverable</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @deliverables.each do |deliverable| %>
      <tr>
        <td><%= deliverable.name %></td>
        <td><%= deliverable.status %></td>
        <td><%= link_to 'Edit', edit_deliverable_path(deliverable) %></td>
        <td><%= button_to "delete", deliverable_path(deliverable), :method => :delete, :id => deliverable.id, data: { confirm: 'Are you certain you want to delete this?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new deliverable', new_deliverable_path(@project), :class => 'btn btn-warning' %>
<br>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', group_path(params[:id]) %>
